{%extends 'partials/navbar.html'%}
{%block content%}

<div class="container jumbotron">
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  ADD ADditional Details
</button>
<div class="container">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD AdditionalDetails</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  action="{%url 'addAdditionalDetails' tokenRec%}" method="POST">
        {%csrf_token%}
      <div class="modal-body">
          
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='email' placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='contactNumber' placeholder="contactNumber" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='first_name' placeholder="first_name" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='last_name' placeholder="last_name" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='address' placeholder="address" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="file" class="form-control" name ='profilePic' placeholder="profilePic" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Resume</button>
      </div>
  </form>
    </div>
  </div>
</div>

</div>



{%if additional%}

<div class="row">
    {%for i in additional%}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{i.email}}</h5>
          <p class="card-text">{{i.contactNumber}}</p>
          
        <a href="{%url 'skills' tokenRec%}" class="btn btn-primary">Next -> SKILLS <Details></Details></a>
        </div>
      </div>
    </div>
   {%endfor%}
  </div>
{%else%}
<h4>NO RESUME PLEASE CERATE ONE</h4>
{%endif%}
</div>
{%endblock%}