{%extends 'partials/navbar.html'%}
{%block content%}

<div class="container jumbotron">
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  ADD AWARDS 
</button>
<div class="container">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD SKILLS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  action="{%url 'addAward' tokenRec%}" method="POST">
        {%csrf_token%}
      <div class="modal-body">
          
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='nameOfaward' placeholder="nameOfaward" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name ='description' placeholder="description" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
            
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Skill</button>
      </div>
  </form>
    </div>
  </div>
</div>

</div>



{%if awardDet%}

<div class="row">
    {%for i in awardDet%}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{i.nameOfaward}}</h5>
          <p class="card-text">{{i.description}}</p>
          
        <a href="{%url 'showTemplates' tokenRec%}" class="btn btn-primary">Create Resume<Details></Details></a>

        
        </div>
      </div>
    </div>
   {%endfor%}
  </div>
{%else%}
<h4>NO RESUME PLEASE CERATE ONE</h4>
{%endif%}
</div>
{%endblock%}